{% extends 'meteo/base.html' %}
{% load static %}

{% block title %}
  <title>
    {% if debug %}
      BME history test
    {% else %}
      BME history
    {% endif %}
  </title>
{% endblock %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock %}

{% block content %}
  {% include 'meteo/includes/page_title.html' with title="История BME280" %}
  <section class="section charts">
    <div class="charts__wrapper">
      <div id="temperature-delta" class="charts__chart"></div>
      <div id="humidity-delta" class="charts__chart"></div>
      <div id="pressure-delta" class="charts__chart"></div>
    </div>
  </section>
{% endblock %}

{% block script %}
<script src="{% static 'js/bme_history.js' %}" charset="utf-8"></script>
{% endblock %}
