{% extends 'meteo/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/data.css' %}">
{% endblock %}

{% block content %}
  {% include 'meteo/includes/page_title.html' with title="BME280" %}
  {% include 'meteo/includes/bme_last.html' %}
  <div class="delimiter"></div>
  {% include 'meteo/includes/sensor_dynamic.html' %}
{% endblock %}

{% block script %}
  <script src="{% static 'js/bme_data.js' %}" charset="utf-8"></script>
  <script src="{% static 'js/toggle.js' %}" charset="utf-8"></script>
{% endblock %}
