{% extends 'meteo/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/data.css' %}">
{% endblock %}

{% block content %}
    {% include 'meteo/includes/page_title.html' %}
    {% include 'meteo/includes/sensor_last.html' %}
    <div class="delimiter"></div>
    {% include 'meteo/includes/sensor_dynamic.html' %}
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/sensor_data.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/toggle.js' %}" charset="utf-8"></script>
{% endblock %}
