<section class="section__form">
  <h3 class="form__header">Изменить период графиков</h3>
  <form id="historyForm" class="form" name="historyForm">
    <p class="form__wrapper">
      <label for="startDate" class="form__label">Начало периода</label>
      <input type="date" id="startDate" name="start_date" required class="form__input">
    </p>
    <p class="form__wrapper">
      <label for="endDate" class="form__label">Конец периода</label>
      <input type="date" id="endDate" name="end_date" required class="form__input">
    </p>
    <div class="form__buttons">
      <input type="submit" id="buttonSubmit" value="Задать период" class="form__button">
      <input type="reset" id="buttonReset" value="Очистить" class="form__button">
    </div>
  </form>
  <span id="formError" class="form__error"></span>
</section>
