{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<header class="header">
  <fieldset class="header__switch-box">
    <div class="switch-group">
      <input type="radio" name="theme-switch" value="dark" id="toggle-dark" class="theme-switch theme-switch--dark">
      <label for="toggle-dark">Темная</label>
    </div>
    <div class="switch-group">
      <input type="radio" name="theme-switch" value="light" id="toggle-light" class="theme-switch theme-switch--light">
      <label for="toggle-light">Светлая</label>
    </div>
    <div class="switch-group">
      <input type="radio" name="theme-switch" value="auto" id="toggle-auto" class="theme-switch theme-switch--auto">
      <label for="toggle-auto">Авто</label>
    </div>
    <script>
      colorModeOverride 
        ? document.querySelector(`.theme-switch[value=${colorModeOverride}`).checked = true
        : document.querySelector(`.theme-switch[value=auto`).checked = true
  </script>
  </fieldset>
  <nav class="header__nav">
    <ul class="header__links">
        {% for x, y, z in menu %}
        <li>
          {% if request.path == y %}
          <a class="header__link header__link--active" href="{% url x %}">{{ z }}</a>
        {% else %}
          <a class="header__link" href="{% url x %}">{{ z }}</a>
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>