{% load static %}

<svg style="display: none;">
  <symbol id="grid-icon" viewBox="0 0 24 24">
    <path fill="currentcolor" d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM9 9H5V5h4v4zm5 2h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm1-6h4v4h-4V5zM3 20a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6zm2-5h4v4H5v-4zm8 5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6zm2-5h4v4h-4v-4z"></path>
  </symbol>
</svg>
<svg style="display: none;">
  <symbol id="list-icon" viewBox="0 0 24 24">
    <path fill="currentcolor" d="M4 6h2v2H4zm0 5h2v2H4zm0 5h2v2H4zm16-8V6H8.023v2H18.8zM8 11h12v2H8zm0 5h12v2H8z"></path>
  </symbol>
</svg>
{% include 'meteo/includes/sensor_icons.html' %}

<section class="section gauge">
  {% if object_list %}
    <div class="gauge__header">
      <div class="gauge__title-wrapper">
        <h2 class="title">
          Данные на&nbsp;
          <span id="local-date" class="title title--date"></span>
        </h2>
      </div>
      <div id="icon-wrapper" class="icon-wrapper">
        <svg width="30" height="30" class="gauge__icon">
          <use xlink:href="#grid-icon" />
        </svg>
        <svg width="30" height="30" class="gauge__icon hidden">
          <use xlink:href="#list-icon" />
        </svg>
      </div>
    </div>
    {% for item in data_list %}
    <div class="wrapper gauge-wrapper hidden">
      {% for el in item.gauge %}
      <div class="gauge__box">
        <div class="gauge__data" id="{{ el }}-gauge"></div>
      </div>
      {% endfor %}
    </div>

    <div class="wrapper box-wrapper visible">
      {% for el in item.box %}
        <div class="box">
          <svg width="30" height="30">
            <use xlink:href="#{{ el.id }}-icon" class="sensor-icon--{{ el.id }}" />
          </svg>
          <div class="box__content">
            {% autoescape off %}
            <div class="box__title">{{ el.dataName }}</div>
            {% endautoescape %}
            <div class="box__data box__data--{{ el.id }}" id="{{ el.id }}"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  {% else %}
    <p>Нет данных</p>
  {% endif %}
</section>