  *, 
  *::before, 
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

    html, body {
    height: 100%;
  }

  :root,
  :root[data-force-color-mode='light'] {
    /* Для сответствия цвета контролов цветовой схеме браузера или системы*/
    color-scheme: light dark; 

    --base-color: #fff;
    --base-grey-color: #595959;
    --medium-grey-color: #808080;
    --light-grey-color: #cecece;
    --base-blue-color: #047df3;
    --medium-blue-color: #70b0ef;
    --light-blue-color: #a6cdf3;
    --base-green-color: #3ba639;
    --light-green-color: #aaffa9;
    --base-red-color: #ff0000;
    --light-red-color: #ef7985;

    --gap: 1rem;
  }


  @media (prefers-color-scheme: dark) {
    :root {
      --base-color: #191919;
      --base-grey-color: #b2b0b0;
      --medium-grey-color: #808080;
      --light-grey-color: #cecece;
      --base-blue-color: #3392f1;
      --medium-blue-color: #70b0ef;
      --light-blue-color: #a6cdf3;
      --base-green-color: #3ba639;
      --light-green-color: #aaffa9;
      --base-red-color: #ff0000;
      --light-red-color: #ef7985;
    }
  }

  :root[data-force-color-mode='dark'] {
    --base-color: #191919;
    --base-grey-color: #b2b0b0;
    --medium-grey-color: #808080;
    --light-grey-color: #cecece;
    --base-blue-color: #3392f1;
    --medium-blue-color: #70b0ef;
    --light-blue-color: #a6cdf3;
    --base-green-color: #3ba639;
    --light-green-color: #aaffa9;
    --base-red-color: #ff0000;
    --light-red-color: #ef7985;
  }


  body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    background: var(--base-color);
    color: var(--base-grey-color);
  }

  img, picture, svg {
    display: block;
    max-width: 100%;
  }

  ul,
  ol {
    list-style: none;
    padding: 0;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
  }

.container {
  min-height: 100%;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [container-start] minmax(0, 1100px) [container-end] 1fr [full-end];
  grid-template-rows: auto 1fr auto;
  gap: var(--gap);
}

.container > * {
  grid-column: container;
}

.container > .full-width {
  grid-column: full;
}

.wrapper-inner {
  display: grid;
  grid-template-columns:
    1fr [container-start] minmax(0, 1100px) [container-end] 1fr;
  column-gap: var(--gap);
}

.wrapper-inner > * {
  grid-column: container;
}

/* title */
.page-title {
  color: var(--base-blue-color);
  font-size: 1.5rem;
  margin-bottom: var(--gap);
}

.title {
  font-weight: 400;
}

.delimiter {
  height: 1px;
  background: var(--light-grey-color);
}
