  *, 
  *::before, 
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

    html, body {
    height: 100%;
  }

  body {
    --base-color: #fff;
    --base-grey-color: #595959;
    --medium-grey-color: #808080;
    --light-grey-color: #cecece;
    --base-blue-color: #047df3;
    --medium-blue-color: #70b0ef;
    --light-blue-color: #a6cdf3;
    --base-green-color: #3ba639;
    --light-green-color: #aaffa9;
    --base-red-color: #ff0000;
    --light-red-color: #ef7985;

    --gap: 1rem;
  

    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    background: var(--base-color);
    color: var(--base-grey-color);
  }

  img, picture, svg {
    display: block;
    max-width: 100%;
  }

  ul,
  ol {
    list-style: none;
    padding: 0;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  .wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns:
      [full-start] 1fr [wrapper-start] minmax(0, 1100px) [wrapper-end] 1fr [full-end];
    grid-template-rows: auto 1fr auto;
    column-gap: var(--gap);
  }

  .wrapper > * {
    grid-column: wrapper;
  }

  .wrapper > .full-width {
    grid-column: full;
  }

  .wrapper-inner {
    display: grid;
    grid-template-columns:
      1fr [container-start] minmax(0, 1100px) [container-end] 1fr;
    column-gap: var(--gap);
  }

  .wrapper-inner > * {
    grid-column: container;
  }

/* title */
.page-title {
  color: var(--base-blue-color);
  font-size: 1.5rem;
}


/* Gauge styles */
.gauge__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--gap);
}

.title--date {
  font-size: 22px;
}

#icon-wrapper {
  cursor: pointer;
}

.gauge__icon {
  font-size: 30px;
  color: var(--base-blue-color);
}


.gauge-wrapper,
.box-wrapper {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

.box {
  flex-basis: 300px;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 20px;
}

.readings {
  font-size: 30px;
  color: var(--base-green-color);
}

.readings--two {
  color: var(--base-blue-color);
}

.readings--three {
  color: var(--base-grey-color);
}

