.header {
  padding: var(--gap) 0;
}

.header__switch-box {
  margin-left: auto;
  display: flex;
  gap: var(--gap);
  max-inline-size: max-content;
  align-items: flex-start;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  border: none;
  color: var(--medium-grey-color);
}

.switch-group {
  display: grid;
  place-items: center;
  inline-size: max-content;
  padding: calc(var(--gap) / 4) calc(var(--gap) / 2);
  border-radius: 10px;
  border: 1px solid var(--light-grey-color);
}

.switch-group > :is(input, label) {
  grid-area: 1/1;
  inline-size: 100%;
  block-size: 100%;
  cursor: pointer;
}

.switch-group > :is(input) {
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}

.switch-group:has(:checked) {
  color: var(--base-blue-color);
  border: 1px solid var(--medium-blue-color);
}

.switch-group:hover {
  color: var(--medium-blue-color);
  border: 1px solid var(--medium-blue-color);
}

.header__nav {
  margin-left: auto;
  padding: var(--gap) 0;
  border-bottom: 1px solid var(--light-blue-color);
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  column-gap: calc(var(--gap) * 2);
  row-gap: var(--gap);
}

.header__link {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: var(--base-grey-color);
}

.header__link:hover,
.header__link--active {
  color: var(--base-blue-color);
}

