.home {
  display: flex;
  flex-direction: column;
  gap: var(--gap2);
}

.home__link {
  color: var(--base-blue-color);
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: space-between; */
}

.box {
  /* flex-basis: 300px; */
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 20px;
}

.home__subtitle {
  margin-bottom: var(--gap);
}

.sensor-icon--temperature {
  color: var(--base-green-color);
}

.sensor-icon--humidity {
  color: var(--base-blue-color);
}

.sensor-icon--pressure {
  color: var(--base-magenta-color);
}
